// 斷點變數
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
$sizes: (
  'xs': 0,
  'sm': $breakpoint-xs + 1,
  'md': $breakpoint-sm + 1,
  'lg': $breakpoint-md + 1,
  'xl': $breakpoint-lg + 1,
);

// 顏色變數
$color-primary: #000;
$color-secondary: #fff;
 